In [6]:
import pandas as pd
pd.options.display.max_columns = 200

socio_econ = pd.read_csv('samlede_socio_data_kbh.csv')

In [7]:
socio_econ.head()

,FID,v_id,rode_nr,rodenavn,antal_beboere,antal_boliger,aar,alder_antal_0_5,alder_pct_0_5,alder_antal_6_17,alder_pct_6_17,alder_antal_18_29,alder_pct_18_29,alder_antal_30_39,alder_pct_30_39,alder_antal_40_49,alder_pct_40_49,alder_antal_50_64,alder_pct_50_64,alder_antal_over_65,alder_pct_over_65,antal_tilkn_arb_markedet,pct_tilkn_arb_markedet,antal_udf_arb_markedet,antal_gymnasial_udd,pct_gymnasial_udd,antal_erh_faglig_udd,pct_erh_faglig_udd,antal_kort_viderg_udd,pct_kort_viderg_udd,antal_mellemlang_viderg_udd,pct_mellemlang_viderg_udd,antal_lang_viderg_udd,pct_lang_viderg_udd,antal_ingen_udd,pct_ingen_udd,antal_under_udd,pct_under_udd,antal_virksomheder,antal_ivaerksaettere,pct__ivaerksaettere,antal_handel_transport,pct_handel_transport,antal_inform_kommunikation,pct_inform_kommunikation,antal_finansiering_forsikring,pct_finansiering_forsikring,antal_ejendomshandel_udlejning,pct_ejendomshandel_udlejning,antal_erhvervsservice,pct_erhvervsservice,antal_offentlig_administrat_mv,pct_offentlig_administrat_mv,antal_undervisning,pct_undervisning,antal_sundhed_socialvaesen,pct_sundhed_socialvaesen,antal_kultur_forlyst_a_service,pct_kultur_forlyst_a_service,antal_landbrug_uoplyst,pct_landbrug_uoplyst,antal_arbejdspladser_ialt,antal_selvstaendige,pct_selvstaendige,antal_lonmodtagere,pct__lonmodtagere,antal_lav_indkomst,pct_lav_indkomst,antal_middel_indkomst,pct_middel_indkomst,antal_hoj_indkomst,pct_hoj_indkomst,antal_dansk,pct_dansk,antal_vestlig,pct_vestlig,antal_ikke_vestlig,pct_ikke_vestlig,antal_enlige_u_born,pct_enlige_u_born,antal_enlige_m_born,pct_enlige_m_born,antal_par_u_born,pct_par_u_born,antal_par_m_born,pct_par_m_born,antal_ovrige_husstande,pct_ovrige_husstande,gns_boligareal_pr_pers,antal_m_install_mangler,pct_m_install_mangler,antal_u_install_mangler,pct_u_install_mangler,bolig_antal_u_40_m2,bolig_pct_u_40_m2,bolig_antal_40_59_m2,bolig_pct_40_59_m2,bolig_antal_60_79_m2,bolig_pct_60_79_m2,bolig_antal_80_99_m2,bolig_pct_80_99_m2,bolig_antal_100_119_m2,pct_100_119_m2,bolig_antal_over_120_m2,bolig_pct_over_120_m2,antal_almen_bolig,pct_almen_bolig,antal_ejerbolig,pct_ejerbolig,antal_pr_andelsbolig,pct_pr_andelsbolig,anta_pr_udlejningsbolig,pct_pr_udlejningsbolig,antal_off_ejet_bolig,pct_off_ejet_bolig,antal_bolig_for_1900,pct_bolig_for_1900,antal_bolig_aar_1900_1929,pct_bolig_aar_1900_1929,antal_bolig_aar_1930_1949,pct_bolig_aar_1930_1949,antal_bolig_aar_1950_1979,pct_bolig_aar_1950_1979,antal_bolig_efter_1980,pct_bolig_efter_1980,antal_nettotilflytning,pct_nettotilflytning,wkb_geometry
0,samlede_socio_data_kbh.1,200,1,Sankt Peders,480,318,2008,27.0,5.63,31.0,6.46,131.0,27.290001,125.0,26.040001,60.0,12.50,69.0,14.380000,37.0,7.71,298.0,75.250000,69.0,38.0,9.800000,39.0,10.0,15.0,3.9,55.0,14.1,72.0,18.500000,80.0,20.6,90.0,23.100000,181.0,16.0,8.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,6.6,283.0,93.400002,158.0,37.090000,95.0,22.299999,173.0,40.610001,387.0,80.629997,66.0,13.75,27.0,5.63,144.0,52.000000,16.0,5.8,53.0,19.100000,25.0,9.0,39.0,14.100000,52.900002,78.0,24.530001,240.0,75.470001,26.0,8.18,41.0,12.89,77.0,24.209999,70.0,22.010000,45.0,14.150000,59.0,18.549999,0.0,0.00,91.0,28.620001,19.0,5.970000,208.0,65.410004,0.0,0.00,280.0,88.050003,15.0,4.72,18.0,5.66,0.0,0.00,5.0,1.57,1.0,0.21,MULTIPOLYGON (((12.566206639202136 55.67862122...
1,samlede_socio_data_kbh.2,33,2,Bispegårdens,548,343,2008,29.0,5.29,44.0,8.03,169.0,30.840000,107.0,19.530001,74.0,13.50,97.0,17.700001,28.0,5.11,367.0,79.089996,60.0,66.0,14.600000,56.0,12.4,21.0,4.6,54.0,11.9,69.0,15.300000,99.0,21.9,87.0,19.200001,662.0,27.0,4.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,11.2,332.0,88.769997,172.0,34.610001,119.0,23.940001,206.0,41.450001,447.0,81.570000,78.0,14.23,23.0,4.20,158.0,52.500000,19.0,6.3,49.0,16.299999,28.0,9.3,47.0,15.600000,54.299999,137.0,39.939999,206.0,60.060001,11.0,3.21,51.0,14.87,105.0,30.610001,59.0,17.200001,44.0,12.830000,71.0,20.700001,0.0,0.00,100.0,29.150000,61.0,17.780001,180.0,52.480000,2.0,0.58,296.0,86.300003,46.0,13.41,1.0,0.29,0.0,0.00,0.0,0.00,10.0,1.79,MULTIPOLYGON (((12.56625392688763 55.678560068...
2,samlede_socio_data_kbh.3,39,3,Rådhusets,245,189,2008,15.0,6.12,6.0,2.45,76.0,31.020000,52.0,21.219999,27.0,11.02,49.0,20.000000,20.0,8.16,156.0,73.239998,36.0,21.0,10.200000,24.0,11.7,12.0,5.9,29.0,14.1,35.0,17.100000,37.0,18.0,47.0,22.900000,431.0,21.0,4.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,10.0,144.0,90.000000,87.0,36.099998,51.0,21.160000,103.0,42.740002,210.0,85.709999,30.0,12.24,5.0,2.04,75.0,52.799999,7.0,4.9,31.0,21.799999,9.0,6.3,20.0,14.100000,56.500000,49.0,25.930000,140.0,74.070000,14.0,7.41,15.0,7.94,41.0,21.690001,40.0,21.160000,24.0,12.700000,55.0,29.100000,1.0,0.53,85.0,44.970001,0.0,0.000000,102.0,53.970001,1.0,0.53,176.0,93.120003,11.0,5.82,2.0,1.06,0.0,0.00,0.0,0.00,24.0,9.30,MULTIPOLYGON (((12.568442046391398 55.67670315...
3,samlede_socio_data_kbh.4,45,4,Kalvebodernes,250,169,2008,12.0,4.80,13.0,5.20,46.0,18.400000,45.0,18.000000,27.0,10.80,58.0,23.200001,49.0,19.60,145.0,78.379997,26.0,18.0,10.100000,30.0,16.9,12.0,6.7,32.0,18.0,34.0,19.100000,24.0,13.5,28.0,15.700000,185.0,5.0,2.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,12.0,132.0,88.000000,58.0,25.660000,67.0,29.650000,101.0,44.689999,226.0,90.400002,18.0,7.20,6.0,2.40,99.0,63.900002,3.0,1.9,25.0,16.100000,14.0,9.0,14.0,9.000000,67.500000,75.0,44.380001,94.0,55.619999,0.0,0.00,49.0,28.99,44.0,26.040001,21.0,12.430000,16.0,9.470000,36.0,21.299999,0.0,0.00,31.0,18.340000,14.0,8.280000,111.0,65.680000,13.0,7.69,105.0,62.130001,3.0,1.78,51.0,30.18,0.0,0.00,10.0,5.92,3.0,1.19,MULTIPOLYGON (((12.571772218909048 55.67510049...
4,samlede_socio_data_kbh.5,138,5,Fiolstrædes,188,106,2008,10.0,5.32,22.0,11.70,43.0,22.870001,47.0,25.000000,22.0,11.70,32.0,17.020000,12.0,6.38,119.0,78.809998,24.0,24.0,16.200001,19.0,12.8,6.0,4.1,19.0,12.8,33.0,22.299999,23.0,15.5,24.0,16.200001,88.0,4.0,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,9.9,109.0,90.080002,59.0,35.330002,40.0,23.950001,68.0,40.720001,163.0,86.699997,21.0,11.17,4.0,2.13,33.0,35.900002,6.0,6.5,25.0,27.200001,9.0,9.8,19.0,20.700001,57.599998,32.0,30.190001,74.0,69.809998,0.0,0.00,2.0,1.89,13.0,12.260000,23.0,21.700001,24.0,22.639999,44.0,41.509998,0.0,0.00,36.0,33.959999,7.0,6.600000,63.0,59.430000,0.0,0.00,104.0,98.110001,0.0,0.00,0.0,0.00,2.0,1.89,0.0,0.00,7.0,3.65,MULTIPOLYGON (((12.570771381707587 55.68244206...

In [10]:
population = pd.read_csv('befolkningkbh.csv')
population.head()

    AAR  RODE  KOEN  ALDER  PERSONER
0  2015     1     1      0         6
1  2015     1     1      1         6
2  2015     1     1      3         3
3  2015     1     1      4         4
4  2015     1     1      5         3

In [11]:
income = pd.read_csv('indkomstbruttohustypev.csv')
income.head()

,AAR,BYDEL,DISTRIKTSNAVN,HUSTYP,FAMILIEGRUPPE,FAMILIETYPE,BRUTTOINDKOM,INDKOMSTKATEGORI,HUSTANDE
0,2014,1,1. Indre By,1,Enlige,Enlige uden b�rn,1,-49.999 kr.,593
1,2014,1,1. Indre By,1,Enlige,Enlige uden b�rn,2,50.000-99.999 kr.,578
2,2014,1,1. Indre By,1,Enlige,Enlige uden b�rn,3,100.000-149.999 kr.,1085
3,2014,1,1. Indre By,1,Enlige,Enlige uden b�rn,4,150.000-199.999 kr.,1920
4,2014,1,1. Indre By,1,Enlige,Enlige uden b�rn,5,200.000-299.999 kr.,2132

In [12]:
rode_index = pd.read_csv('rode.csv')
rode_index.head()

,FID,rodenavn,bydel,rode_nr,distrikt_nr,areal_m2,id,wkb_geometry
0,rode.1,Rismosevejs,Bispebjerg,315,13,604805.949707,170,MULTIPOLYGON (((12.513006553472755 55.71984584...
1,rode.2,Parkstykkets,Brønshøj-Husum,306,16,53715.323730,200,MULTIPOLYGON (((12.509883765540511 55.70636870...
2,rode.3,Theklavejs,Bispebjerg,298,15,70529.746094,199,MULTIPOLYGON (((12.521620905716988 55.70604366...
3,rode.4,Holmens,Indre by,17,1,29495.295410,9,MULTIPOLYGON (((12.582602531783703 55.67674174...
4,rode.5,Bispegårdens,Indre by,2,1,65948.935059,12,MULTIPOLYGON (((12.56625392688763 55.678560068...